@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <div id="menucontainer">
            <ul id="menu">
                <li>@Html.ActionLink("Equipo", "Add", "Equipo")</li>                
            </ul>
        </div>    
    </div>
</body>
</html>
